body {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 1.2em;
  color: white;
  background-color: black;
}

input[type=text] {
  color: white;
  grid-column: 2;
  text-align: center;
  font-weight: bolder;
  font-size: 1.2em;
  padding: 5px 8px;
  outline: none;
  border: none;
  background: transparent;
}

p {
  text-align: center;
  margin: auto;
}

.classic {
  grid-column: span 3;
  font-size: 1.3em;
  font-weight: bold;
}

.blueburst {
  grid-column: span 4;
  font-size: 1.3em;
  font-weight: bold;
}

.classic-sep {
  grid-column: span 3;
  border: 1px solid rgb(255, 255, 255);
}

.bb-sep {
  grid-column: span 4;
  border: 1px solid rgb(255, 255, 255);
}

.dashed-sep {
  grid-column: span 4;
  border: 1px solid rgb(255, 255, 255);
  border-style: dashed solid;
}

@media screen and (orientation: landscape) {
  .classic-section-id-img {
    margin: auto;
    width: 25%;
  }

  .section-id-img {
    margin: auto;
    width: 25%;
  }
}

@media screen and (orientation: portrait) {
  .classic-section-id-img {
    margin: auto;
    width: 65%;
  }

  .section-id-img {
    margin: auto;
    width: 65%;
  }
}

.grid-h {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding-bottom: 15px;
  padding-top: 12px;
  background-color: rgb(35, 35, 35);
}

.grid-a {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding-bottom: 15px;
  background-color: rgb(40, 20, 10);
}

.grid-b {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding-bottom: 15px;
  background-color: rgb(10, 20, 40);
}